@font-face {
  font-family: 'DMSans';
  src: url('../../public/fonts/DMSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../public/fonts/DMSans-Regular.woff') format('woff'),
    url('../../public/fonts/DMSans-Regular.ttf') format('truetype'),
    url('../../public/fonts/DMSans-Regular.svg#DMSans-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DMSans';
  src: url('../../public/fonts/DMSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../public/fonts/DMSans-Bold.woff') format('woff'),
    url('../../public/fonts/DMSans-Bold.ttf') format('truetype'),
    url('../../public/fonts/DMSans-Bold.svg#DMSans-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url('../../public/fonts/Muli-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../public/fonts/Muli-Regular.woff') format('woff'),
    url('../../public/fonts/Muli-Regular.ttf') format('truetype'),
    url('../../public/fonts/Muli-Regular.svg#Muli-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}
