$alabaster: #F8F8F8;
$bittersweet: #FF6464;
$black: #000;
$fair-pink: #FFEBEB;
$green-haze: #00A938;
$green: #01FD35;
$mirage: #1A2029;
$snowy-mint: #DAFFE6;
$white: #fff;

$body-bg: $white;
$brand-color: $green-haze;
$color-text-body: $mirage;
$secondary-color: $mirage;
