$alabaster: #F8F8F8;
$bittersweet: #FF6464;
$black: #000;
$fair-pink: #FFEBEB;
$green-haze: #00A938;
$green: #01FD35;
$mirage: #1A2029;
$snowy-mint: #DAFFE6;
$white: #fff;
$light-grey: #D0D0D0;
$orange-light: #F8B143;
$orange-dark: #E3421A;
$dark-grey: #585858;

$body-bg: $black;
$brand-color: $green-haze;
$color-text-body: $light-grey;
$color-title: $white;
$color-subtitle: $orange-light;
$secondary-color: $mirage;
